@model OnlineTravelGadgetsShop.Models.Customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Styles/Signup.css">
    <title>Create account</title>
</head>
<body>
    <div class="signin_class">
        <h1>Customer Registration Form</h1>
        <form action="@Url.Action("signup","signup")" method="post">
            <p>Customer Name :</p>
            <input type="text" name="CustomerName"  value="@Model.CustomerName" placeholder="Enter full name">
            <p>Mobile Number :</p>
            <input type="text" name="CustomerMobile" value="@Model.CustomerMobile" placeholder="Enter Mobile number">
            <p>Email address :</p>
            <input type="email" name="CustomerEmail" value="@Model.CustomerEmail" placeholder="Enter email address">
            <p>User name :</p>
            <input type="text" name="CustomerUserId" value="@Model.CustomerUserId" placeholder="Enter username">
            <p>Password :</p>
            <input type="password" name="CustomerPassword"  value="@Model.CustomerPassword "placeholder="Enter password">
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>